header{
    background-color: blueviolet;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    color: ivory;
}
body{
    background-color: #d9fcf8;
    font-size: 18px;
}
button{
    margin-top: 5px;
    width: auto;
   padding: 4px; 
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    text-align: center;
 }
 th, td {
    border: 1px solid black;
    padding: 10px;
 }
 
.col-sm-12{
    height: auto;
    float: inline-start;
     width: 100%;
}
.col-sm-6{
text-align: center;
float: left;
}
